---
layout: default
title: TCC | Home
---
<div class="home">
    <!-- Group Images Gallery -->
    <h2> Groups </h2>
    <div class="groups-home">
        {% for group in site.groups %}
        {% assign loopindex = forloop.index | modulo: 4 %}
        {% if loopindex == 0 %}
        <div class="row "></div>
        {% endif %}
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{site.prefix}}{{group.image}}" alt="{{group.title}}"/>
                <div class="caption">
                    <h3>{{group.title}}</h3>
                    <p><strong>Areas of Research: </strong>{{group.short_bio}}</p>
                    <a href="{{ group.link }}" class="btn btn-primary" role="button">Visit Group</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Group Images Gallery -->

    <!-- Display All of the sites posts -->
    {% for post in site.posts %}
    <article>
        <h2><a href="{{site.prefix}}{{ post.url | replace_first: '/', ''  }}">{{ post.title }}</a></h2>
        {{ post.content }}
    </article>
    {% endfor %}
    <!-- Display All of the sites posts -->
</div>