---
layout: default
title: TCC | Home
---

<div class="home container">

  	<h2> Groups </h2>
  	<div class="row">

	{% for group in site.groups %}
		{% assign loopindex = forloop.index | modulo: 4 %}
			{% if loopindex == 0 %}
			<div class="row"></div>
		{% endif %}
		<a class="caption slide-panel" href="{{ group.link }}" data-title="{{ group.title }}" data-description="{{group.short_bio}}">
			<img src="{{group.image}}" alt="{{group.title}}"/>
		</a>
	{% endfor %}


	</div>
	
	{% for post in site.posts %}
      <article>
      	<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      	{{ post.content }}
      </article>
    {% endfor %}

	
</div>
