<footer>
	<div class="container">
		<p>Theoretical &amp; Computational Chemistry at the <a href="http://www.chem.pitt.edu/" target="_blank">University of Pittsburgh</a></p>
		<div class='small'>Icons made by <a href="http://www.flaticon.com/authors/designmodo" title="Designmodo">Designmodo</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
		<p class="rss-subscribe">Subscribe <a href="{{site.prefix}}feed.xml">via RSS</a></p>	
	</div>
</footer>