<div class="jumbotron">
    <div class="container">
        <div class="col-sm-4 icon hidden-xs">
        	<img class='img-responsive' src="/images/pitt_official.svg"/>
        </div>
        <div class="col-sm-8">
        <h1>Theoretical &amp; Computational Chemistry at the University of Pittsburgh</h1>
        <p>The University of Pittsburgh has one of the largest groups of researchers engaged in Theoretical &amp; Computational Chemistry research of any U. S. academic institution.</p>
       	</div>
    </div>
</div>