<div class="jumbotron">
    <div class="container">
        <div class="col-sm-3 icon hidden-xs">
        	<a href='/{{ site.baseurl }}'><img class='img-responsive' src="/{{ site.baseurl }}images/pitt_official.svg"/></a>
        </div>
        <div class="col-sm-9">
        <h1>Theoretical &amp; Computational Chemistry at the University of Pittsburgh</h1>
        <p>The University of Pittsburgh has one of the largest groups of researchers engaged in Theoretical &amp; Computational Chemistry research of any U. S. academic institution.</p>
       	</div>
    </div>
</div>