<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other` content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Right Navigation -->
            <ul class="nav navbar-nav">
                <!-- <li><a href="{{site.prefix}}">Home</a></li> -->
            </ul>
            <!-- Right Navigation -->
            <!-- Future Search -->
            <form class="navbar-form navbar-left hidden" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <!-- Future Search -->
            <!-- Left Navigation -->
            <ul class="nav navbar-nav navbar-right">
                {% for post in site.posts %}
                    {% for flag in post.flags %}
                        {% if flag == "nav" %}
                            <li><a href="{{site.prefix}}{{ post.url | replace_first: '/', ''  }}">{%if post.shorttitle %} {{post.shorttitle}} {% else %} {{post.title}} {% endif %}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <li><a href="{{site.prefix}}blog">Posts</a></li>
            </ul>
            <!-- Left Navigation -->
            </div> <!-- /.navbar-collapse -->
            </div> <!-- /.container-fluid -->
        </nav>