.jumbotron{
	color: white;
	background: $brand-primary;
	
	h1{
		@include responsive-auto('font-size', 30px);
		font-weight: 300;
		color: #ffdb96;
	}
	p{
		@include responsive-auto('font-size', 16px);
		font-weight: 300; 
	}
	img{
		max-height: 250px;
	}
}