.slide-panel {
	display: block;
	position: relative;
	overflow: hidden;
	@extend .col-sm-4;
	padding-right: 0;
	margin-bottom: 10px; 

	img {
		display: block;
		max-width: 100%;
		@extend .img-responsive;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.5;
		}
	}
	&::after, &::before {
		position: absolute;
		width: 100%;
		height: 50%;
		color: #fff;
		z-index: 1;
		transition: transform 0.3s ease-in-out;
	}
	&::after {
		content: attr(data-title);
		top: 0;
		background: $gray-light;
		font-size: 40px;
		font-weight: 300;
		padding: 30px;
		transform: translateY(-100%);
	}
	&::before {
		content: 'Areas of Research: ' attr(data-description) '... Learn More';
		top: 50%;
		background: $brand-primary;
		font-size: 14px;
		padding: 20px;
		transform: translateY(100%);
		font-weight: 400;
	}
	&:hover {
		&::after, &::before {
			transform: translateY(0%);
		}
	}
}