/**
 * Style for thumbnails on main page for groups 
 */
.groups-home {
	@extend .row;

	> div {
		.thumbnail {
			min-height: 500px;
			.btn{
				transition: all $trans-cubic-fast;
			}

			@media (min-width:$screen-md-min) {
				.btn {
					@extend .block-center, .center-block;
					width: 75%;
					text-align: center;
					display: block;
					position: absolute;
					bottom: 50px;
				}
			}
		}
	}
}