body
{
background-color:#FFFFFF;
}

a.nav:link
{
  text-decoration:none;
  font-size:14;
  font-weight:700;
  color:#0000FF;
}

a.nav:visited
{
  text-decoration:none;
  font-size:14;
  font-weight:700;
  color:#0000FF;
}

a.nav:hover
{
  color:#0000FF;
  font-size:14;
}

a:link
{
  text-decoration:none;
  color:#0000FF;
}

a:visited
{
  text-decoration:none;
  color:#0000FF;
}

a:hover
{
  color:#0000FF;
}

a.disabled, a.disabled:hover{
   color:black
}


div.header
{
  width:900px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  vertical-align:middle;
}

div.footer
{
  width:900px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  vertical-align:middle
}

div.pittSeal
{
  float:right;
}

div.groupLogo
{
  float:left;
}

div.menu
{
  float:left;
  width:100%;
  margin-top:50px;
  border-bottom:3px solid #FFD700;
  padding-bottom:10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
}
div.menuright
{
  float:right;
  margin-top:0px;
  padding-bottom:0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
}

div.content
{
  float:left;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  border-bottom:5px solid #FFD700;
}

li
{
  padding:0px;
  margin:0px;
}

h1
{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;;
  width:100%;
  font-weight:700;
  font-size:24;
  color:#0000FF;
  padding:0px;
  margin-top:0px;
  margin-bottom:20px;
  font-variant: small-caps;
}

h2
{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;;
  width:100%;
  font-weight:700;
  font-size:20;
  border-bottom:0px solid #FFD700;
  color:#0000FF;
  padding:0px;
  margin-top:0px;
  margin-bottom:5px;
  font-variant: small-caps;
}

h3
{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  width:100%;
  font-weight:700;
  font-size:16;
  border-bottom:0px solid #000000;
  color:#0000FF;
  padding:0px;
  margin-top:0px;
  margin-bottom:5px;
  font-variant: small-caps;
}

h4
{
  font-variant: small-caps;
  padding:0px;
  margin:0px;
}

div.text
{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  width:100%;
  font-weight:400;
  font-size:14;
  color:#000000;
  text-align:justify;
}

div.firefox
{
  float:right;
  color:#777777;
  margin-top:3px;
  font-family:arial;
  font-size:10;
}

img
{
  border:none;
  vertical-align: middle;
}

img.figure
{
  margin:10 px;
  border:1px solid #000000;
}

img.floatLeft { 
   float: left; 
   margin: 10px; 
}
img.floatRight { 
   float: right; 
   margin: 10px; 
}

table
{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight:400;
  font-size:14;
  color:#000000;
  text-align:justify;
}

table.schedule
{
width: 100%;
margin-bottom: 0;
padding-bottom: 0;
border-width:0;
vertical-align:text-top;
}

td.schedule
{
font-size:12pt;
font-weight:700;
font-family: Georgia, Palatino, Times;
vertical-align:text-top;
}

div.code
{
  font-family:courier;
  font-weight:400;
  font-size:12;
  color:#000000;
  text-align:justify;
  background:#DDDDDD;
  border:1px dashed #999999;
  padding:10px;
  margin:10px;
}    

span.code
{
  font-family:courier;
}

